/* icon prefix for famfamfam icons */
[class^="fam-"],
[class*=" fam-"] {
	display:inline-block;
	width:17px;
	height:16px;
	*margin-right:.3em;
	line-height:14px;
	vertical-align:text-top;
	background-image:url("../images/famfamfam-icons.png");
	background-position:14px 14px;
	background-repeat:no-repeat;
}
[class^="fam-"]:last-child,
[class*=" fam-"]:last-child {
	*margin-left:0;
}
.btn-large [class^="fam-"] {
	margin-top:1px;
}
.fam-accept{background-position:0 0} 
.fam-add{background-position:-21px 0} 
.fam-anchor{background-position:-42px 0} 
.fam-application-add{background-position:-63px 0} 
.fam-application-cascade{background-position:-84px 0} 
.fam-application-delete{background-position:-105px 0} 
.fam-application-double{background-position:-126px 0} 
.fam-application-edit{background-position:-147px 0} 
.fam-application-error{background-position:-168px 0} 
.fam-application-form-add{background-position:-189px 0} 
.fam-application-form-delete{background-position:-210px 0} 
.fam-application-form-edit{background-position:-231px 0} 
.fam-application-form-magnify{background-position:-252px 0} 
.fam-application-form{background-position:-273px 0} 
.fam-application-get{background-position:-294px 0} 
.fam-application-go{background-position:-315px 0} 
.fam-application-home{background-position:-336px 0} 
.fam-application-key{background-position:-357px 0} 
.fam-application-lightning{background-position:-378px 0} 
.fam-application-link{background-position:-399px 0} 
.fam-application-osx-terminal{background-position:-420px 0} 
.fam-application-osx{background-position:-441px 0} 
.fam-application-put{background-position:-462px 0} 
.fam-application-side-boxes{background-position:-483px 0} 
.fam-application-side-contract{background-position:-504px 0} 
.fam-application-side-expand{background-position:-525px 0} 
.fam-application-side-list{background-position:-546px 0} 
.fam-application-side-tree{background-position:-567px 0} 
.fam-application-split{background-position:-588px 0} 
.fam-application-tile-horizontal{background-position:-609px 0} 
.fam-application-tile-vertical{background-position:-630px 0} 
.fam-application-view-columns{background-position:-651px 0} 
.fam-application-view-detail{background-position:-672px 0} 
.fam-application-view-gallery{background-position:-693px 0} 
.fam-application-view-icons{background-position:-714px 0} 
.fam-application-view-list{background-position:-735px 0} 
.fam-application-view-tile{background-position:-756px 0} 
.fam-application-xp-terminal{background-position:-777px 0} 
.fam-application-xp{background-position:-798px 0} 
.fam-application{background-position:-819px 0} 
.fam-arrow-branch{background-position:-840px 0} 
.fam-arrow-divide{background-position:-861px 0} 
.fam-arrow-down{background-position:-882px 0} 
.fam-arrow-in{background-position:-903px 0} 
.fam-arrow-inout{background-position:-924px 0} 
.fam-arrow-join{background-position:-945px 0} 
.fam-arrow-left{background-position:-966px 0} 
.fam-arrow-merge{background-position:-987px 0} 
.fam-arrow-out{background-position:-1008px 0} 
.fam-arrow-redo{background-position:-1029px 0} 
.fam-arrow-refresh-small{background-position:-1050px 0} 
.fam-arrow-refresh{background-position:-1071px 0} 
.fam-arrow-right{background-position:-1092px 0} 
.fam-arrow-rotate-anticlockwise{background-position:-1113px 0} 
.fam-arrow-rotate-clockwise{background-position:-1134px 0} 
.fam-arrow-switch{background-position:-1155px 0} 
.fam-arrow-turn-left{background-position:-1176px 0} 
.fam-arrow-turn-right{background-position:-1197px 0} 
.fam-arrow-undo{background-position:-1218px 0} 
.fam-arrow-up{background-position:-1239px 0} 
.fam-asterisk-orange{background-position:-1260px 0} 
.fam-asterisk-yellow{background-position:-1281px 0} 
.fam-attach{background-position:-1302px 0} 
.fam-award-star-add{background-position:-1323px 0} 
.fam-award-star-bronze-1{background-position:-1344px 0} 
.fam-award-star-bronze-2{background-position:-1365px 0} 
.fam-award-star-bronze-3{background-position:-1386px 0} 
.fam-award-star-delete{background-position:-1407px 0} 
.fam-award-star-gold-1{background-position:-1428px 0} 
.fam-award-star-gold-2{background-position:-1449px 0} 
.fam-award-star-gold-3{background-position:-1470px 0} 
.fam-award-star-silver-1{background-position:-1491px 0} 
.fam-award-star-silver-2{background-position:-1512px 0} 
.fam-award-star-silver-3{background-position:-1533px 0} 
.fam-basket-add{background-position:-1554px 0} 
.fam-basket-delete{background-position:-1575px 0} 
.fam-basket-edit{background-position:-1596px 0} 
.fam-basket-error{background-position:-1617px 0} 
.fam-basket-go{background-position:-1638px 0} 
.fam-basket-put{background-position:-1659px 0} 
.fam-basket-remove{background-position:-1680px 0} 
.fam-basket{background-position:-1701px 0} 
.fam-bell-add{background-position:-1722px 0} 
.fam-bell-delete{background-position:-1743px 0} 
.fam-bell-error{background-position:-1764px 0} 
.fam-bell-go{background-position:-1785px 0} 
.fam-bell-link{background-position:-1806px 0} 
.fam-bell{background-position:-1827px 0} 
.fam-bin-closed{background-position:-1848px 0} 
.fam-bin-empty{background-position:-1869px 0} 
.fam-bin{background-position:-1890px 0} 
.fam-bomb{background-position:-1911px 0} 
.fam-book-add{background-position:-1932px 0} 
.fam-book-addresses{background-position:-1953px 0} 
.fam-book-delete{background-position:-1974px 0} 
.fam-book-edit{background-position:0 -21px} 
.fam-book-error{background-position:-21px -21px} 
.fam-book-go{background-position:-42px -21px} 
.fam-book-key{background-position:-63px -21px} 
.fam-book-link{background-position:-84px -21px} 
.fam-book-next{background-position:-105px -21px} 
.fam-book-open{background-position:-126px -21px} 
.fam-book-previous{background-position:-147px -21px} 
.fam-book{background-position:-168px -21px} 
.fam-box{background-position:-189px -21px} 
.fam-brick-add{background-position:-210px -21px} 
.fam-brick-delete{background-position:-231px -21px} 
.fam-brick-edit{background-position:-252px -21px} 
.fam-brick-error{background-position:-273px -21px} 
.fam-brick-go{background-position:-294px -21px} 
.fam-brick-link{background-position:-315px -21px} 
.fam-brick{background-position:-336px -21px} 
.fam-bricks{background-position:-357px -21px} 
.fam-briefcase{background-position:-378px -21px} 
.fam-bug-add{background-position:-399px -21px} 
.fam-bug-delete{background-position:-420px -21px} 
.fam-bug-edit{background-position:-441px -21px} 
.fam-bug-error{background-position:-462px -21px} 
.fam-bug-go{background-position:-483px -21px} 
.fam-bug-link{background-position:-504px -21px} 
.fam-bug{background-position:-525px -21px} 
.fam-building-add{background-position:-546px -21px} 
.fam-building-delete{background-position:-567px -21px} 
.fam-building-edit{background-position:-588px -21px} 
.fam-building-error{background-position:-609px -21px} 
.fam-building-go{background-position:-630px -21px} 
.fam-building-key{background-position:-651px -21px} 
.fam-building-link{background-position:-672px -21px} 
.fam-building{background-position:-693px -21px} 
.fam-bullet-add{background-position:-714px -21px} 
.fam-bullet-arrow-bottom{background-position:-735px -21px} 
.fam-bullet-arrow-down{background-position:-756px -21px} 
.fam-bullet-arrow-top{background-position:-777px -21px} 
.fam-bullet-arrow-up{background-position:-798px -21px} 
.fam-bullet-black{background-position:-819px -21px} 
.fam-bullet-blue{background-position:-840px -21px} 
.fam-bullet-delete{background-position:-861px -21px} 
.fam-bullet-disk{background-position:-882px -21px} 
.fam-bullet-error{background-position:-903px -21px} 
.fam-bullet-feed{background-position:-924px -21px} 
.fam-bullet-go{background-position:-945px -21px} 
.fam-bullet-green{background-position:-966px -21px} 
.fam-bullet-key{background-position:-987px -21px} 
.fam-bullet-orange{background-position:-1008px -21px} 
.fam-bullet-picture{background-position:-1029px -21px} 
.fam-bullet-pink{background-position:-1050px -21px} 
.fam-bullet-purple{background-position:-1071px -21px} 
.fam-bullet-red{background-position:-1092px -21px} 
.fam-bullet-star{background-position:-1113px -21px} 
.fam-bullet-toggle-minus{background-position:-1134px -21px} 
.fam-bullet-toggle-plus{background-position:-1155px -21px} 
.fam-bullet-white{background-position:-1176px -21px} 
.fam-bullet-wrench{background-position:-1197px -21px} 
.fam-bullet-yellow{background-position:-1218px -21px} 
.fam-cake{background-position:-1239px -21px} 
.fam-calculator-add{background-position:-1260px -21px} 
.fam-calculator-delete{background-position:-1281px -21px} 
.fam-calculator-edit{background-position:-1302px -21px} 
.fam-calculator-error{background-position:-1323px -21px} 
.fam-calculator-link{background-position:-1344px -21px} 
.fam-calculator{background-position:-1365px -21px} 
.fam-calendar-add{background-position:-1386px -21px} 
.fam-calendar-delete{background-position:-1407px -21px} 
.fam-calendar-edit{background-position:-1428px -21px} 
.fam-calendar-link{background-position:-1449px -21px} 
.fam-calendar-view-day{background-position:-1470px -21px} 
.fam-calendar-view-month{background-position:-1491px -21px} 
.fam-calendar-view-week{background-position:-1512px -21px} 
.fam-calendar{background-position:-1533px -21px} 
.fam-camera-add{background-position:-1554px -21px} 
.fam-camera-delete{background-position:-1575px -21px} 
.fam-camera-edit{background-position:-1596px -21px} 
.fam-camera-error{background-position:-1617px -21px} 
.fam-camera-go{background-position:-1638px -21px} 
.fam-camera-link{background-position:-1659px -21px} 
.fam-camera-small{background-position:-1680px -21px} 
.fam-camera{background-position:-1701px -21px} 
.fam-cancel{background-position:-1722px -21px} 
.fam-car-add{background-position:-1743px -21px} 
.fam-car-delete{background-position:-1764px -21px} 
.fam-car{background-position:-1785px -21px} 
.fam-cart-add{background-position:-1806px -21px} 
.fam-cart-delete{background-position:-1827px -21px} 
.fam-cart-edit{background-position:-1848px -21px} 
.fam-cart-error{background-position:-1869px -21px} 
.fam-cart-go{background-position:-1890px -21px} 
.fam-cart-put{background-position:-1911px -21px} 
.fam-cart-remove{background-position:-1932px -21px} 
.fam-cart{background-position:-1953px -21px} 
.fam-cd-add{background-position:-1974px -21px} 
.fam-cd-burn{background-position:0 -42px} 
.fam-cd-delete{background-position:-21px -42px} 
.fam-cd-edit{background-position:-42px -42px} 
.fam-cd-eject{background-position:-63px -42px} 
.fam-cd-go{background-position:-84px -42px} 
.fam-cd{background-position:-105px -42px} 
.fam-chart-bar-add{background-position:-126px -42px} 
.fam-chart-bar-delete{background-position:-147px -42px} 
.fam-chart-bar-edit{background-position:-168px -42px} 
.fam-chart-bar-error{background-position:-189px -42px} 
.fam-chart-bar-link{background-position:-210px -42px} 
.fam-chart-bar{background-position:-231px -42px} 
.fam-chart-curve-add{background-position:-252px -42px} 
.fam-chart-curve-delete{background-position:-273px -42px} 
.fam-chart-curve-edit{background-position:-294px -42px} 
.fam-chart-curve-error{background-position:-315px -42px} 
.fam-chart-curve-go{background-position:-336px -42px} 
.fam-chart-curve-link{background-position:-357px -42px} 
.fam-chart-curve{background-position:-378px -42px} 
.fam-chart-line-add{background-position:-399px -42px} 
.fam-chart-line-delete{background-position:-420px -42px} 
.fam-chart-line-edit{background-position:-441px -42px} 
.fam-chart-line-error{background-position:-462px -42px} 
.fam-chart-line-link{background-position:-483px -42px} 
.fam-chart-line{background-position:-504px -42px} 
.fam-chart-organisation-add{background-position:-525px -42px} 
.fam-chart-organisation-delete{background-position:-546px -42px} 
.fam-chart-organisation{background-position:-567px -42px} 
.fam-chart-pie-add{background-position:-588px -42px} 
.fam-chart-pie-delete{background-position:-609px -42px} 
.fam-chart-pie-edit{background-position:-630px -42px} 
.fam-chart-pie-error{background-position:-651px -42px} 
.fam-chart-pie-link{background-position:-672px -42px} 
.fam-chart-pie{background-position:-693px -42px} 
.fam-clock-add{background-position:-714px -42px} 
.fam-clock-delete{background-position:-735px -42px} 
.fam-clock-edit{background-position:-756px -42px} 
.fam-clock-error{background-position:-777px -42px} 
.fam-clock-go{background-position:-798px -42px} 
.fam-clock-link{background-position:-819px -42px} 
.fam-clock-pause{background-position:-840px -42px} 
.fam-clock-play{background-position:-861px -42px} 
.fam-clock-red{background-position:-882px -42px} 
.fam-clock-stop{background-position:-903px -42px} 
.fam-clock{background-position:-924px -42px} 
.fam-cog-add{background-position:-945px -42px} 
.fam-cog-delete{background-position:-966px -42px} 
.fam-cog-edit{background-position:-987px -42px} 
.fam-cog-error{background-position:-1008px -42px} 
.fam-cog-go{background-position:-1029px -42px} 
.fam-cog{background-position:-1050px -42px} 
.fam-coins-add{background-position:-1071px -42px} 
.fam-coins-delete{background-position:-1092px -42px} 
.fam-coins{background-position:-1113px -42px} 
.fam-color-swatch{background-position:-1134px -42px} 
.fam-color-wheel{background-position:-1155px -42px} 
.fam-comment-add{background-position:-1176px -42px} 
.fam-comment-delete{background-position:-1197px -42px} 
.fam-comment-edit{background-position:-1218px -42px} 
.fam-comment{background-position:-1239px -42px} 
.fam-comments-add{background-position:-1260px -42px} 
.fam-comments-delete{background-position:-1281px -42px} 
.fam-comments{background-position:-1302px -42px} 
.fam-compress{background-position:-1323px -42px} 
.fam-computer-add{background-position:-1344px -42px} 
.fam-computer-delete{background-position:-1365px -42px} 
.fam-computer-edit{background-position:-1386px -42px} 
.fam-computer-error{background-position:-1407px -42px} 
.fam-computer-go{background-position:-1428px -42px} 
.fam-computer-key{background-position:-1449px -42px} 
.fam-computer-link{background-position:-1470px -42px} 
.fam-computer{background-position:-1491px -42px} 
.fam-connect{background-position:-1512px -42px} 
.fam-contrast-decrease{background-position:-1533px -42px} 
.fam-contrast-high{background-position:-1554px -42px} 
.fam-contrast-increase{background-position:-1575px -42px} 
.fam-contrast-low{background-position:-1596px -42px} 
.fam-contrast{background-position:-1617px -42px} 
.fam-control-eject-blue{background-position:-1638px -42px} 
.fam-control-eject{background-position:-1659px -42px} 
.fam-control-end-blue{background-position:-1680px -42px} 
.fam-control-end{background-position:-1701px -42px} 
.fam-control-equalizer-blue{background-position:-1722px -42px} 
.fam-control-equalizer{background-position:-1743px -42px} 
.fam-control-fastforward-blue{background-position:-1764px -42px} 
.fam-control-fastforward{background-position:-1785px -42px} 
.fam-control-pause-blue{background-position:-1806px -42px} 
.fam-control-pause{background-position:-1827px -42px} 
.fam-control-play-blue{background-position:-1848px -42px} 

.fam-control-play{background-position:-1869px -42px} 
.fam-control-repeat-blue{background-position:-1890px -42px} 
.fam-control-repeat{background-position:-1911px -42px} 
.fam-control-rewind-blue{background-position:-1932px -42px} 
.fam-control-rewind{background-position:-1953px -42px} 
.fam-control-start-blue{background-position:-1974px -42px} 
.fam-control-start{background-position:0 -63px} 
.fam-control-stop-blue{background-position:-21px -63px} 
.fam-control-stop{background-position:-42px -63px} 
.fam-controller-add{background-position:-63px -63px} 
.fam-controller-delete{background-position:-84px -63px} 
.fam-controller-error{background-position:-105px -63px} 
.fam-controller{background-position:-126px -63px} 
.fam-creditcards{background-position:-147px -63px} 
.fam-cross{background-position:-168px -63px} 
.fam-css-add{background-position:-189px -63px} 
.fam-css-delete{background-position:-210px -63px} 
.fam-css-go{background-position:-231px -63px} 
.fam-css-valid{background-position:-252px -63px} 
.fam-css{background-position:-273px -63px} 
.fam-cup-add{background-position:-294px -63px} 
.fam-cup-delete{background-position:-315px -63px} 
.fam-cup-edit{background-position:-336px -63px} 
.fam-cup-error{background-position:-357px -63px} 
.fam-cup-go{background-position:-378px -63px} 
.fam-cup-key{background-position:-399px -63px} 
.fam-cup-link{background-position:-420px -63px} 
.fam-cup{background-position:-441px -63px} 
.fam-cursor{background-position:-462px -63px} 
.fam-cut-red{background-position:-483px -63px} 
.fam-cut{background-position:-504px -63px} 
.fam-database-add{background-position:-525px -63px} 
.fam-database-connect{background-position:-546px -63px} 
.fam-database-delete{background-position:-567px -63px} 
.fam-database-edit{background-position:-588px -63px} 
.fam-database-error{background-position:-609px -63px} 
.fam-database-gear{background-position:-630px -63px} 
.fam-database-go{background-position:-651px -63px} 
.fam-database-key{background-position:-672px -63px} 
.fam-database-lightning{background-position:-693px -63px} 
.fam-database-link{background-position:-714px -63px} 
.fam-database-refresh{background-position:-735px -63px} 
.fam-database-save{background-position:-756px -63px} 
.fam-database-table{background-position:-777px -63px} 
.fam-database{background-position:-798px -63px} 
.fam-date-add{background-position:-819px -63px} 
.fam-date-delete{background-position:-840px -63px} 
.fam-date-edit{background-position:-861px -63px} 
.fam-date-error{background-position:-882px -63px} 
.fam-date-go{background-position:-903px -63px} 
.fam-date-link{background-position:-924px -63px} 
.fam-date-magnify{background-position:-945px -63px} 
.fam-date-next{background-position:-966px -63px} 
.fam-date-previous{background-position:-987px -63px} 
.fam-date{background-position:-1008px -63px} 
.fam-delete{background-position:-1029px -63px} 
.fam-disconnect{background-position:-1050px -63px} 
.fam-disk-multiple{background-position:-1071px -63px} 
.fam-disk{background-position:-1092px -63px} 
.fam-door-in{background-position:-1113px -63px} 
.fam-door-open{background-position:-1134px -63px} 
.fam-door-out{background-position:-1155px -63px} 
.fam-door{background-position:-1176px -63px} 
.fam-drink-empty{background-position:-1197px -63px} 
.fam-drink{background-position:-1218px -63px} 
.fam-drive-add{background-position:-1239px -63px} 
.fam-drive-burn{background-position:-1260px -63px} 
.fam-drive-cd-empty{background-position:-1281px -63px} 
.fam-drive-cd{background-position:-1302px -63px} 
.fam-drive-delete{background-position:-1323px -63px} 
.fam-drive-disk{background-position:-1344px -63px} 
.fam-drive-edit{background-position:-1365px -63px} 
.fam-drive-error{background-position:-1386px -63px} 
.fam-drive-go{background-position:-1407px -63px} 
.fam-drive-key{background-position:-1428px -63px} 
.fam-drive-link{background-position:-1449px -63px} 
.fam-drive-magnify{background-position:-1470px -63px} 
.fam-drive-network{background-position:-1491px -63px} 
.fam-drive-rename{background-position:-1512px -63px} 
.fam-drive-user{background-position:-1533px -63px} 
.fam-drive-web{background-position:-1554px -63px} 
.fam-drive{background-position:-1575px -63px} 
.fam-dvd-add{background-position:-1596px -63px} 
.fam-dvd-delete{background-position:-1617px -63px} 
.fam-dvd-edit{background-position:-1638px -63px} 
.fam-dvd-error{background-position:-1659px -63px} 
.fam-dvd-go{background-position:-1680px -63px} 
.fam-dvd-key{background-position:-1701px -63px} 
.fam-dvd-link{background-position:-1722px -63px} 
.fam-dvd{background-position:-1743px -63px} 
.fam-email-add{background-position:-1764px -63px} 
.fam-email-attach{background-position:-1785px -63px} 
.fam-email-delete{background-position:-1806px -63px} 
.fam-email-edit{background-position:-1827px -63px} 
.fam-email-error{background-position:-1848px -63px} 
.fam-email-go{background-position:-1869px -63px} 
.fam-email-link{background-position:-1890px -63px} 
.fam-email-open-image{background-position:-1911px -63px} 
.fam-email-open{background-position:-1932px -63px} 
.fam-email{background-position:-1953px -63px} 
.fam-emoticon-evilgrin{background-position:-1974px -63px} 
.fam-emoticon-grin{background-position:0 -84px} 
.fam-emoticon-happy{background-position:-21px -84px} 
.fam-emoticon-smile{background-position:-42px -84px} 
.fam-emoticon-surprised{background-position:-63px -84px} 
.fam-emoticon-tongue{background-position:-84px -84px} 
.fam-emoticon-unhappy{background-position:-105px -84px} 
.fam-emoticon-waii{background-position:-126px -84px} 
.fam-emoticon-wink{background-position:-147px -84px} 
.fam-error-add{background-position:-168px -84px} 
.fam-error-delete{background-position:-189px -84px} 
.fam-error-go{background-position:-210px -84px} 
.fam-error{background-position:-231px -84px} 
.fam-exclamation{background-position:-252px -84px} 
.fam-eye{background-position:-273px -84px} 
.fam-feed-add{background-position:-294px -84px} 
.fam-feed-delete{background-position:-315px -84px} 
.fam-feed-disk{background-position:-336px -84px} 
.fam-feed-edit{background-position:-357px -84px} 
.fam-feed-error{background-position:-378px -84px} 
.fam-feed-go{background-position:-399px -84px} 
.fam-feed-key{background-position:-420px -84px} 
.fam-feed-link{background-position:-441px -84px} 
.fam-feed-magnify{background-position:-462px -84px} 
.fam-feed{background-position:-483px -84px} 
.fam-female{background-position:-504px -84px} 
.fam-film-add{background-position:-525px -84px} 
.fam-film-delete{background-position:-546px -84px} 
.fam-film-edit{background-position:-567px -84px} 
.fam-film-error{background-position:-588px -84px} 
.fam-film-go{background-position:-609px -84px} 
.fam-film-key{background-position:-630px -84px} 
.fam-film-link{background-position:-651px -84px} 
.fam-film-save{background-position:-672px -84px} 
.fam-film{background-position:-693px -84px} 
.fam-find{background-position:-714px -84px} 
.fam-flag-blue{background-position:-735px -84px} 
.fam-flag-green{background-position:-756px -84px} 
.fam-flag-orange{background-position:-777px -84px} 
.fam-flag-pink{background-position:-798px -84px} 
.fam-flag-purple{background-position:-819px -84px} 
.fam-flag-red{background-position:-840px -84px} 
.fam-flag-yellow{background-position:-861px -84px} 
.fam-folder-add{background-position:-882px -84px} 
.fam-folder-bell{background-position:-903px -84px} 
.fam-folder-brick{background-position:-924px -84px} 
.fam-folder-bug{background-position:-945px -84px} 
.fam-folder-camera{background-position:-966px -84px} 
.fam-folder-database{background-position:-987px -84px} 
.fam-folder-delete{background-position:-1008px -84px} 
.fam-folder-edit{background-position:-1029px -84px} 
.fam-folder-error{background-position:-1050px -84px} 
.fam-folder-explore{background-position:-1071px -84px} 
.fam-folder-feed{background-position:-1092px -84px} 
.fam-folder-find{background-position:-1113px -84px} 
.fam-folder-go{background-position:-1134px -84px} 
.fam-folder-heart{background-position:-1155px -84px} 
.fam-folder-image{background-position:-1176px -84px} 
.fam-folder-key{background-position:-1197px -84px} 
.fam-folder-lightbulb{background-position:-1218px -84px} 
.fam-folder-link{background-position:-1239px -84px} 
.fam-folder-magnify{background-position:-1260px -84px} 
.fam-folder-page-white{background-position:-1281px -84px} 
.fam-folder-page{background-position:-1302px -84px} 
.fam-folder-palette{background-position:-1323px -84px} 
.fam-folder-picture{background-position:-1344px -84px} 
.fam-folder-star{background-position:-1365px -84px} 
.fam-folder-table{background-position:-1386px -84px} 
.fam-folder-user{background-position:-1407px -84px} 
.fam-folder-wrench{background-position:-1428px -84px} 
.fam-folder{background-position:-1449px -84px} 
.fam-font-add{background-position:-1470px -84px} 
.fam-font-delete{background-position:-1491px -84px} 
.fam-font-go{background-position:-1512px -84px} 
.fam-font{background-position:-1533px -84px} 
.fam-group-add{background-position:-1554px -84px} 
.fam-group-delete{background-position:-1575px -84px} 
.fam-group-edit{background-position:-1596px -84px} 
.fam-group-error{background-position:-1617px -84px} 
.fam-group-gear{background-position:-1638px -84px} 
.fam-group-go{background-position:-1659px -84px} 
.fam-group-key{background-position:-1680px -84px} 
.fam-group-link{background-position:-1701px -84px} 
.fam-group{background-position:-1722px -84px} 
.fam-heart-add{background-position:-1743px -84px} 
.fam-heart-delete{background-position:-1764px -84px} 
.fam-heart{background-position:-1785px -84px} 
.fam-help{background-position:-1806px -84px} 
.fam-hourglass-add{background-position:-1827px -84px} 
.fam-hourglass-delete{background-position:-1848px -84px} 
.fam-hourglass-go{background-position:-1869px -84px} 
.fam-hourglass-link{background-position:-1890px -84px} 
.fam-hourglass{background-position:-1911px -84px} 
.fam-house-go{background-position:-1932px -84px} 
.fam-house-link{background-position:-1953px -84px} 
.fam-house{background-position:-1974px -84px} 
.fam-html-add{background-position:0 -105px} 
.fam-html-delete{background-position:-21px -105px} 
.fam-html-go{background-position:-42px -105px} 
.fam-html-valid{background-position:-63px -105px} 
.fam-html{background-position:-84px -105px} 
.fam-image-add{background-position:-105px -105px} 
.fam-image-delete{background-position:-126px -105px} 
.fam-image-edit{background-position:-147px -105px} 
.fam-image-link{background-position:-168px -105px} 
.fam-image{background-position:-189px -105px} 
.fam-images{background-position:-210px -105px} 
.fam-information{background-position:-231px -105px} 
.fam-ipod-cast-add{background-position:-252px -105px} 
.fam-ipod-cast-delete{background-position:-273px -105px} 
.fam-ipod-cast{background-position:-294px -105px} 
.fam-ipod-sound{background-position:-315px -105px} 
.fam-ipod{background-position:-336px -105px} 
.fam-joystick-add{background-position:-357px -105px} 
.fam-joystick-delete{background-position:-378px -105px} 
.fam-joystick-error{background-position:-399px -105px} 
.fam-joystick{background-position:-420px -105px} 
.fam-key-add{background-position:-441px -105px} 
.fam-key-delete{background-position:-462px -105px} 
.fam-key-go{background-position:-483px -105px} 
.fam-key{background-position:-504px -105px} 
.fam-keyboard-add{background-position:-525px -105px} 
.fam-keyboard-delete{background-position:-546px -105px} 
.fam-keyboard-magnify{background-position:-567px -105px} 
.fam-keyboard{background-position:-588px -105px} 
.fam-layers{background-position:-609px -105px} 
.fam-layout-add{background-position:-630px -105px} 
.fam-layout-content{background-position:-651px -105px} 
.fam-layout-delete{background-position:-672px -105px} 
.fam-layout-edit{background-position:-693px -105px} 
.fam-layout-error{background-position:-714px -105px} 
.fam-layout-header{background-position:-735px -105px} 
.fam-layout-link{background-position:-756px -105px} 
.fam-layout-sidebar{background-position:-777px -105px} 
.fam-layout{background-position:-798px -105px} 
.fam-lightbulb-add{background-position:-819px -105px} 
.fam-lightbulb-delete{background-position:-840px -105px} 
.fam-lightbulb-off{background-position:-861px -105px} 
.fam-lightbulb{background-position:-882px -105px} 
.fam-lightning-add{background-position:-903px -105px} 
.fam-lightning-delete{background-position:-924px -105px} 
.fam-lightning-go{background-position:-945px -105px} 
.fam-lightning{background-position:-966px -105px} 
.fam-link-add{background-position:-987px -105px} 
.fam-link-break{background-position:-1008px -105px} 
.fam-link-delete{background-position:-1029px -105px} 
.fam-link-edit{background-position:-1050px -105px} 
.fam-link-error{background-position:-1071px -105px} 
.fam-link-go{background-position:-1092px -105px} 
.fam-link{background-position:-1113px -105px} 
.fam-lock-add{background-position:-1134px -105px} 
.fam-lock-break{background-position:-1155px -105px} 
.fam-lock-delete{background-position:-1176px -105px} 
.fam-lock-edit{background-position:-1197px -105px} 
.fam-lock-go{background-position:-1218px -105px} 
.fam-lock-open{background-position:-1239px -105px} 
.fam-lock{background-position:-1260px -105px} 
.fam-lorry-add{background-position:-1281px -105px} 
.fam-lorry-delete{background-position:-1302px -105px} 
.fam-lorry-error{background-position:-1323px -105px} 
.fam-lorry-flatbed{background-position:-1344px -105px} 
.fam-lorry-go{background-position:-1365px -105px} 
.fam-lorry-link{background-position:-1386px -105px} 
.fam-lorry{background-position:-1407px -105px} 
.fam-magifier-zoom-out{background-position:-1428px -105px} 
.fam-magnifier-zoom-in{background-position:-1449px -105px} 
.fam-magnifier{background-position:-1470px -105px} 
.fam-male{background-position:-1491px -105px} 
.fam-map-add{background-position:-1512px -105px} 
.fam-map-delete{background-position:-1533px -105px} 
.fam-map-edit{background-position:-1554px -105px} 
.fam-map-go{background-position:-1575px -105px} 
.fam-map-magnify{background-position:-1596px -105px} 
.fam-map{background-position:-1617px -105px} 
.fam-medal-bronze-1{background-position:-1638px -105px} 
.fam-medal-bronze-2{background-position:-1659px -105px} 
.fam-medal-bronze-3{background-position:-1680px -105px} 
.fam-medal-bronze-add{background-position:-1701px -105px} 
.fam-medal-bronze-delete{background-position:-1722px -105px} 
.fam-medal-gold-1{background-position:-1743px -105px} 
.fam-medal-gold-2{background-position:-1764px -105px} 
.fam-medal-gold-3{background-position:-1785px -105px} 
.fam-medal-gold-add{background-position:-1806px -105px} 
.fam-medal-gold-delete{background-position:-1827px -105px} 
.fam-medal-silver-1{background-position:-1848px -105px} 
.fam-medal-silver-2{background-position:-1869px -105px} 
.fam-medal-silver-3{background-position:-1890px -105px} 
.fam-medal-silver-add{background-position:-1911px -105px} 
.fam-medal-silver-delete{background-position:-1932px -105px} 
.fam-money-add{background-position:-1953px -105px} 
.fam-money-delete{background-position:-1974px -105px} 
.fam-money-dollar{background-position:0 -126px} 
.fam-money-euro{background-position:-21px -126px} 
.fam-money-pound{background-position:-42px -126px} 
.fam-money-yen{background-position:-63px -126px} 
.fam-money{background-position:-84px -126px} 
.fam-monitor-add{background-position:-105px -126px} 
.fam-monitor-delete{background-position:-126px -126px} 
.fam-monitor-edit{background-position:-147px -126px} 
.fam-monitor-error{background-position:-168px -126px} 
.fam-monitor-go{background-position:-189px -126px} 
.fam-monitor-lightning{background-position:-210px -126px} 
.fam-monitor-link{background-position:-231px -126px} 
.fam-monitor{background-position:-252px -126px} 
.fam-mouse-add{background-position:-273px -126px} 
.fam-mouse-delete{background-position:-294px -126px} 
.fam-mouse-error{background-position:-315px -126px} 
.fam-mouse{background-position:-336px -126px} 
.fam-music{background-position:-357px -126px} 
.fam-new{background-position:-378px -126px} 
.fam-newspaper-add{background-position:-399px -126px} 
.fam-newspaper-delete{background-position:-420px -126px} 
.fam-newspaper-go{background-position:-441px -126px} 
.fam-newspaper-link{background-position:-462px -126px} 
.fam-newspaper{background-position:-483px -126px} 
.fam-note-add{background-position:-504px -126px} 
.fam-note-delete{background-position:-525px -126px} 
.fam-note-edit{background-position:-546px -126px} 
.fam-note-error{background-position:-567px -126px} 
.fam-note-go{background-position:-588px -126px} 
.fam-note{background-position:-609px -126px} 
.fam-overlays{background-position:-630px -126px} 
.fam-package-add{background-position:-651px -126px} 
.fam-package-delete{background-position:-672px -126px} 
.fam-package-go{background-position:-693px -126px} 
.fam-package-green{background-position:-714px -126px} 
.fam-package-link{background-position:-735px -126px} 
.fam-package{background-position:-756px -126px} 
.fam-page-add{background-position:-777px -126px} 
.fam-page-attach{background-position:-798px -126px} 
.fam-page-code{background-position:-819px -126px} 
.fam-page-copy{background-position:-840px -126px} 
.fam-page-delete{background-position:-861px -126px} 
.fam-page-edit{background-position:-882px -126px} 
.fam-page-error{background-position:-903px -126px} 
.fam-page-excel{background-position:-924px -126px} 
.fam-page-find{background-position:-945px -126px} 
.fam-page-gear{background-position:-966px -126px} 
.fam-page-go{background-position:-987px -126px} 
.fam-page-green{background-position:-1008px -126px} 
.fam-page-key{background-position:-1029px -126px} 
.fam-page-lightning{background-position:-1050px -126px} 
.fam-page-link{background-position:-1071px -126px} 
.fam-page-paintbrush{background-position:-1092px -126px} 
.fam-page-paste{background-position:-1113px -126px} 
.fam-page-red{background-position:-1134px -126px} 
.fam-page-refresh{background-position:-1155px -126px} 
.fam-page-save{background-position:-1176px -126px} 
.fam-page-white-acrobat{background-position:-1197px -126px} 
.fam-page-white-actionscript{background-position:-1218px -126px} 
.fam-page-white-add{background-position:-1239px -126px} 
.fam-page-white-c{background-position:-1260px -126px} 
.fam-page-white-camera{background-position:-1281px -126px} 
.fam-page-white-cd{background-position:-1302px -126px} 
.fam-page-white-code-red{background-position:-1323px -126px} 
.fam-page-white-code{background-position:-1344px -126px} 
.fam-page-white-coldfusion{background-position:-1365px -126px} 
.fam-page-white-compressed{background-position:-1386px -126px} 
.fam-page-white-copy{background-position:-1407px -126px} 
.fam-page-white-cplusplus{background-position:-1428px -126px} 
.fam-page-white-csharp{background-position:-1449px -126px} 
.fam-page-white-cup{background-position:-1470px -126px} 
.fam-page-white-database{background-position:-1491px -126px} 
.fam-page-white-delete{background-position:-1512px -126px} 
.fam-page-white-dvd{background-position:-1533px -126px} 
.fam-page-white-edit{background-position:-1554px -126px} 
.fam-page-white-error{background-position:-1575px -126px} 
.fam-page-white-excel{background-position:-1596px -126px} 
.fam-page-white-find{background-position:-1617px -126px} 
.fam-page-white-flash{background-position:-1638px -126px} 
.fam-page-white-freehand{background-position:-1659px -126px} 
.fam-page-white-gear{background-position:-1680px -126px} 
.fam-page-white-get{background-position:-1701px -126px} 
.fam-page-white-go{background-position:-1722px -126px} 
.fam-page-white-h{background-position:-1743px -126px} 
.fam-page-white-horizontal{background-position:-1764px -126px} 
.fam-page-white-key{background-position:-1785px -126px} 
.fam-page-white-lightning{background-position:-1806px -126px} 
.fam-page-white-link{background-position:-1827px -126px} 
.fam-page-white-magnify{background-position:-1848px -126px} 
.fam-page-white-medal{background-position:-1869px -126px} 
.fam-page-white-office{background-position:-1890px -126px} 
.fam-page-white-paint{background-position:-1911px -126px} 
.fam-page-white-paintbrush{background-position:-1932px -126px} 
.fam-page-white-paste{background-position:-1953px -126px} 
.fam-page-white-php{background-position:-1974px -126px} 
.fam-page-white-picture{background-position:0 -147px} 
.fam-page-white-powerpoint{background-position:-21px -147px} 
.fam-page-white-put{background-position:-42px -147px} 
.fam-page-white-ruby{background-position:-63px -147px} 
.fam-page-white-stack{background-position:-84px -147px} 
.fam-page-white-star{background-position:-105px -147px} 
.fam-page-white-swoosh{background-position:-126px -147px} 
.fam-page-white-text-width{background-position:-147px -147px} 
.fam-page-white-text{background-position:-168px -147px} 
.fam-page-white-tux{background-position:-189px -147px} 
.fam-page-white-vector{background-position:-210px -147px} 
.fam-page-white-visualstudio{background-position:-231px -147px} 
.fam-page-white-width{background-position:-252px -147px} 
.fam-page-white-word{background-position:-273px -147px} 
.fam-page-white-world{background-position:-294px -147px} 
.fam-page-white-wrench{background-position:-315px -147px} 
.fam-page-white-zip{background-position:-336px -147px} 
.fam-page-white{background-position:-357px -147px} 
.fam-page-word{background-position:-378px -147px} 
.fam-page-world{background-position:-399px -147px} 
.fam-page{background-position:-420px -147px} 
.fam-paintbrush{background-position:-441px -147px} 
.fam-paintcan{background-position:-462px -147px} 
.fam-palette{background-position:-483px -147px} 
.fam-paste-plain{background-position:-504px -147px} 
.fam-paste-word{background-position:-525px -147px} 
.fam-pencil-add{background-position:-546px -147px} 
.fam-pencil-delete{background-position:-567px -147px} 
.fam-pencil-go{background-position:-588px -147px} 
.fam-pencil{background-position:-609px -147px} 
.fam-phone-add{background-position:-630px -147px} 
.fam-phone-delete{background-position:-651px -147px} 
.fam-phone-sound{background-position:-672px -147px} 
.fam-phone{background-position:-693px -147px} 
.fam-photo-add{background-position:-714px -147px} 
.fam-photo-delete{background-position:-735px -147px} 
.fam-photo-link{background-position:-756px -147px} 
.fam-photo{background-position:-777px -147px} 
.fam-photos{background-position:-798px -147px} 
.fam-picture-add{background-position:-819px -147px} 
.fam-picture-delete{background-position:-840px -147px} 
.fam-picture-edit{background-position:-861px -147px} 
.fam-picture-empty{background-position:-882px -147px} 
.fam-picture-error{background-position:-903px -147px} 
.fam-picture-go{background-position:-924px -147px} 
.fam-picture-key{background-position:-945px -147px} 
.fam-picture-link{background-position:-966px -147px} 
.fam-picture-save{background-position:-987px -147px} 
.fam-picture{background-position:-1008px -147px} 
.fam-pictures{background-position:-1029px -147px} 
.fam-pilcrow{background-position:-1050px -147px} 
.fam-pill-add{background-position:-1071px -147px} 
.fam-pill-delete{background-position:-1092px -147px} 
.fam-pill-go{background-position:-1113px -147px} 
.fam-pill{background-position:-1134px -147px} 
.fam-plugin-add{background-position:-1155px -147px} 
.fam-plugin-delete{background-position:-1176px -147px} 
.fam-plugin-disabled{background-position:-1197px -147px} 
.fam-plugin-edit{background-position:-1218px -147px} 
.fam-plugin-error{background-position:-1239px -147px} 
.fam-plugin-go{background-position:-1260px -147px} 
.fam-plugin-link{background-position:-1281px -147px} 
.fam-plugin{background-position:-1302px -147px} 
.fam-printer-add{background-position:-1323px -147px} 
.fam-printer-delete{background-position:-1344px -147px} 
.fam-printer-empty{background-position:-1365px -147px} 
.fam-printer-error{background-position:-1386px -147px} 
.fam-printer{background-position:-1407px -147px} 
.fam-rainbow{background-position:-1428px -147px} 
.fam-report-add{background-position:-1449px -147px} 
.fam-report-delete{background-position:-1470px -147px} 
.fam-report-disk{background-position:-1491px -147px} 
.fam-report-edit{background-position:-1512px -147px} 
.fam-report-go{background-position:-1533px -147px} 
.fam-report-key{background-position:-1554px -147px} 
.fam-report-link{background-position:-1575px -147px} 
.fam-report-magnify{background-position:-1596px -147px} 
.fam-report-picture{background-position:-1617px -147px} 
.fam-report-user{background-position:-1638px -147px} 
.fam-report-word{background-position:-1659px -147px} 
.fam-report{background-position:-1680px -147px} 
.fam-resultset-first{background-position:-1701px -147px} 
.fam-resultset-last{background-position:-1722px -147px} 
.fam-resultset-next{background-position:-1743px -147px} 
.fam-resultset-previous{background-position:-1764px -147px} 
.fam-rosette{background-position:-1785px -147px} 
.fam-rss-add{background-position:-1806px -147px} 
.fam-rss-delete{background-position:-1827px -147px} 
.fam-rss-go{background-position:-1848px -147px} 
.fam-rss-valid{background-position:-1869px -147px} 
.fam-rss{background-position:-1890px -147px} 
.fam-ruby-add{background-position:-1911px -147px} 
.fam-ruby-delete{background-position:-1932px -147px} 
.fam-ruby-gear{background-position:-1953px -147px} 
.fam-ruby-get{background-position:-1974px -147px} 
.fam-ruby-go{background-position:0 -168px} 
.fam-ruby-key{background-position:-21px -168px} 
.fam-ruby-link{background-position:-42px -168px} 
.fam-ruby-put{background-position:-63px -168px} 
.fam-ruby{background-position:-84px -168px} 
.fam-script-add{background-position:-105px -168px} 
.fam-script-code-red{background-position:-126px -168px} 
.fam-script-code{background-position:-147px -168px} 
.fam-script-delete{background-position:-168px -168px} 
.fam-script-edit{background-position:-189px -168px} 
.fam-script-error{background-position:-210px -168px} 
.fam-script-gear{background-position:-231px -168px} 
.fam-script-go{background-position:-252px -168px} 
.fam-script-key{background-position:-273px -168px} 
.fam-script-lightning{background-position:-294px -168px} 
.fam-script-link{background-position:-315px -168px} 
.fam-script-palette{background-position:-336px -168px} 
.fam-script-save{background-position:-357px -168px} 
.fam-script{background-position:-378px -168px} 
.fam-server-add{background-position:-399px -168px} 
.fam-server-chart{background-position:-420px -168px} 
.fam-server-compressed{background-position:-441px -168px} 
.fam-server-connect{background-position:-462px -168px} 
.fam-server-database{background-position:-483px -168px} 
.fam-server-delete{background-position:-504px -168px} 
.fam-server-edit{background-position:-525px -168px} 
.fam-server-error{background-position:-546px -168px} 
.fam-server-go{background-position:-567px -168px} 
.fam-server-key{background-position:-588px -168px} 
.fam-server-lightning{background-position:-609px -168px} 
.fam-server-link{background-position:-630px -168px} 
.fam-server-uncompressed{background-position:-651px -168px} 
.fam-server{background-position:-672px -168px} 
.fam-shading{background-position:-693px -168px} 
.fam-shape-align-bottom{background-position:-714px -168px} 
.fam-shape-align-center{background-position:-735px -168px} 
.fam-shape-align-left{background-position:-756px -168px} 
.fam-shape-align-middle{background-position:-777px -168px} 
.fam-shape-align-right{background-position:-798px -168px} 
.fam-shape-align-top{background-position:-819px -168px} 
.fam-shape-flip-horizontal{background-position:-840px -168px} 
.fam-shape-flip-vertical{background-position:-861px -168px} 
.fam-shape-group{background-position:-882px -168px} 
.fam-shape-handles{background-position:-903px -168px} 
.fam-shape-move-back{background-position:-924px -168px} 
.fam-shape-move-backwards{background-position:-945px -168px} 
.fam-shape-move-forwards{background-position:-966px -168px} 
.fam-shape-move-front{background-position:-987px -168px} 
.fam-shape-rotate-anticlockwise{background-position:-1008px -168px} 
.fam-shape-rotate-clockwise{background-position:-1029px -168px} 
.fam-shape-square-add{background-position:-1050px -168px} 
.fam-shape-square-delete{background-position:-1071px -168px} 
.fam-shape-square-edit{background-position:-1092px -168px} 
.fam-shape-square-error{background-position:-1113px -168px} 
.fam-shape-square-go{background-position:-1134px -168px} 
.fam-shape-square-key{background-position:-1155px -168px} 
.fam-shape-square-link{background-position:-1176px -168px} 
.fam-shape-square{background-position:-1197px -168px} 
.fam-shape-ungroup{background-position:-1218px -168px} 
.fam-shield-add{background-position:-1239px -168px} 
.fam-shield-delete{background-position:-1260px -168px} 
.fam-shield-go{background-position:-1281px -168px} 
.fam-shield{background-position:-1302px -168px} 
.fam-sitemap-color{background-position:-1323px -168px} 
.fam-sitemap{background-position:-1344px -168px} 
.fam-sound-add{background-position:-1365px -168px} 
.fam-sound-delete{background-position:-1386px -168px} 
.fam-sound-low{background-position:-1407px -168px} 
.fam-sound-mute{background-position:-1428px -168px} 
.fam-sound-none{background-position:-1449px -168px} 
.fam-sound{background-position:-1470px -168px} 
.fam-spellcheck{background-position:-1491px -168px} 
.fam-sport-8ball{background-position:-1512px -168px} 
.fam-sport-basketball{background-position:-1533px -168px} 
.fam-sport-football{background-position:-1554px -168px} 
.fam-sport-golf{background-position:-1575px -168px} 
.fam-sport-raquet{background-position:-1596px -168px} 
.fam-sport-shuttlecock{background-position:-1617px -168px} 
.fam-sport-soccer{background-position:-1638px -168px} 
.fam-sport-tennis{background-position:-1659px -168px} 
.fam-star{background-position:-1680px -168px} 
.fam-status-away{background-position:-1701px -168px} 
.fam-status-busy{background-position:-1722px -168px} 
.fam-status-offline{background-position:-1743px -168px} 
.fam-status-online{background-position:-1764px -168px} 
.fam-stop{background-position:-1785px -168px} 
.fam-style-add{background-position:-1806px -168px} 
.fam-style-delete{background-position:-1827px -168px} 
.fam-style-edit{background-position:-1848px -168px} 
.fam-style-go{background-position:-1869px -168px} 
.fam-style{background-position:-1890px -168px} 
.fam-sum{background-position:-1911px -168px} 
.fam-tab-add{background-position:-1932px -168px} 
.fam-tab-delete{background-position:-1953px -168px} 
.fam-tab-edit{background-position:-1974px -168px} 
.fam-tab-go{background-position:0 -189px} 
.fam-tab{background-position:-21px -189px} 
.fam-table-add{background-position:-42px -189px} 
.fam-table-delete{background-position:-63px -189px} 
.fam-table-edit{background-position:-84px -189px} 
.fam-table-error{background-position:-105px -189px} 
.fam-table-gear{background-position:-126px -189px} 
.fam-table-go{background-position:-147px -189px} 
.fam-table-key{background-position:-168px -189px} 
.fam-table-lightning{background-position:-189px -189px} 
.fam-table-link{background-position:-210px -189px} 
.fam-table-multiple{background-position:-231px -189px} 
.fam-table-refresh{background-position:-252px -189px} 
.fam-table-relationship{background-position:-273px -189px} 
.fam-table-row-delete{background-position:-294px -189px} 
.fam-table-row-insert{background-position:-315px -189px} 
.fam-table-save{background-position:-336px -189px} 
.fam-table-sort{background-position:-357px -189px} 
.fam-table{background-position:-378px -189px} 
.fam-tag-blue-add{background-position:-399px -189px} 
.fam-tag-blue-delete{background-position:-420px -189px} 
.fam-tag-blue-edit{background-position:-441px -189px} 
.fam-tag-blue{background-position:-462px -189px} 
.fam-tag-green{background-position:-483px -189px} 
.fam-tag-orange{background-position:-504px -189px} 
.fam-tag-pink{background-position:-525px -189px} 
.fam-tag-purple{background-position:-546px -189px} 
.fam-tag-red{background-position:-567px -189px} 
.fam-tag-yellow{background-position:-588px -189px} 
.fam-tag{background-position:-609px -189px} 
.fam-telephone-add{background-position:-630px -189px} 
.fam-telephone-delete{background-position:-651px -189px} 
.fam-telephone-edit{background-position:-672px -189px} 
.fam-telephone-error{background-position:-693px -189px} 
.fam-telephone-go{background-position:-714px -189px} 
.fam-telephone-key{background-position:-735px -189px} 
.fam-telephone-link{background-position:-756px -189px} 
.fam-telephone{background-position:-777px -189px} 
.fam-television-add{background-position:-798px -189px} 
.fam-television-delete{background-position:-819px -189px} 
.fam-television{background-position:-840px -189px} 
.fam-text-align-center{background-position:-861px -189px} 
.fam-text-align-justify{background-position:-882px -189px} 
.fam-text-align-left{background-position:-903px -189px} 
.fam-text-align-right{background-position:-924px -189px} 
.fam-text-allcaps{background-position:-945px -189px} 
.fam-text-bold{background-position:-966px -189px} 
.fam-text-columns{background-position:-987px -189px} 
.fam-text-dropcaps{background-position:-1008px -189px} 
.fam-text-heading-1{background-position:-1029px -189px} 
.fam-text-heading-2{background-position:-1050px -189px} 
.fam-text-heading-3{background-position:-1071px -189px} 
.fam-text-heading-4{background-position:-1092px -189px} 
.fam-text-heading-5{background-position:-1113px -189px} 
.fam-text-heading-6{background-position:-1134px -189px} 
.fam-text-horizontalrule{background-position:-1155px -189px} 
.fam-text-indent-remove{background-position:-1176px -189px} 
.fam-text-indent{background-position:-1197px -189px} 
.fam-text-italic{background-position:-1218px -189px} 
.fam-text-kerning{background-position:-1239px -189px} 
.fam-text-letter-omega{background-position:-1260px -189px} 
.fam-text-letterspacing{background-position:-1281px -189px} 
.fam-text-linespacing{background-position:-1302px -189px} 
.fam-text-list-bullets{background-position:-1323px -189px} 
.fam-text-list-numbers{background-position:-1344px -189px} 
.fam-text-lowercase{background-position:-1365px -189px} 
.fam-text-padding-bottom{background-position:-1386px -189px} 
.fam-text-padding-left{background-position:-1407px -189px} 
.fam-text-padding-right{background-position:-1428px -189px} 
.fam-text-padding-top{background-position:-1449px -189px} 
.fam-text-replace{background-position:-1470px -189px} 
.fam-text-signature{background-position:-1491px -189px} 
.fam-text-smallcaps{background-position:-1512px -189px} 
.fam-text-strikethrough{background-position:-1533px -189px} 
.fam-text-subscript{background-position:-1554px -189px} 
.fam-text-superscript{background-position:-1575px -189px} 
.fam-text-underline{background-position:-1596px -189px} 
.fam-text-uppercase{background-position:-1617px -189px} 
.fam-textfield-add{background-position:-1638px -189px} 
.fam-textfield-delete{background-position:-1659px -189px} 
.fam-textfield-key{background-position:-1680px -189px} 
.fam-textfield-rename{background-position:-1701px -189px} 
.fam-textfield{background-position:-1722px -189px} 
.fam-thumb-down{background-position:-1743px -189px} 
.fam-thumb-up{background-position:-1764px -189px} 
.fam-tick{background-position:-1785px -189px} 
.fam-time-add{background-position:-1806px -189px} 
.fam-time-delete{background-position:-1827px -189px} 
.fam-time-go{background-position:-1848px -189px} 
.fam-time{background-position:-1869px -189px} 
.fam-timeline-marker{background-position:-1890px -189px} 
.fam-transmit-add{background-position:-1911px -189px} 
.fam-transmit-blue{background-position:-1932px -189px} 
.fam-transmit-delete{background-position:-1953px -189px} 
.fam-transmit-edit{background-position:-1974px -189px} 
.fam-transmit-error{background-position:0 -210px} 
.fam-transmit-go{background-position:-21px -210px} 
.fam-transmit{background-position:-42px -210px} 
.fam-tux{background-position:-63px -210px} 
.fam-user-add{background-position:-84px -210px} 
.fam-user-comment{background-position:-105px -210px} 
.fam-user-delete{background-position:-126px -210px} 
.fam-user-edit{background-position:-147px -210px} 
.fam-user-female{background-position:-168px -210px} 
.fam-user-go{background-position:-189px -210px} 
.fam-user-gray{background-position:-210px -210px} 
.fam-user-green{background-position:-231px -210px} 
.fam-user-orange{background-position:-252px -210px} 
.fam-user-red{background-position:-273px -210px} 
.fam-user-suit{background-position:-294px -210px} 
.fam-user{background-position:-315px -210px} 
.fam-vcard-add{background-position:-336px -210px} 
.fam-vcard-delete{background-position:-357px -210px} 
.fam-vcard-edit{background-position:-378px -210px} 
.fam-vcard{background-position:-399px -210px} 
.fam-vector-add{background-position:-420px -210px} 
.fam-vector-delete{background-position:-441px -210px} 
.fam-vector{background-position:-462px -210px} 
.fam-wand{background-position:-483px -210px} 
.fam-weather-clouds{background-position:-504px -210px} 
.fam-weather-cloudy{background-position:-525px -210px} 
.fam-weather-lightning{background-position:-546px -210px} 
.fam-weather-rain{background-position:-567px -210px} 
.fam-weather-snow{background-position:-588px -210px} 
.fam-weather-sun{background-position:-609px -210px} 
.fam-webcam-add{background-position:-630px -210px} 
.fam-webcam-delete{background-position:-651px -210px} 
.fam-webcam-error{background-position:-672px -210px} 
.fam-webcam{background-position:-693px -210px} 
.fam-world-add{background-position:-714px -210px} 
.fam-world-delete{background-position:-735px -210px} 
.fam-world-edit{background-position:-756px -210px} 
.fam-world-go{background-position:-777px -210px} 
.fam-world-link{background-position:-798px -210px} 
.fam-world{background-position:-819px -210px} 
.fam-wrench-orange{background-position:-840px -210px} 
.fam-wrench{background-position:-861px -210px} 
.fam-xhtml-add{background-position:-882px -210px} 
.fam-xhtml-delete{background-position:-903px -210px} 
.fam-xhtml-go{background-position:-924px -210px} 
.fam-xhtml-valid{background-position:-945px -210px} 
.fam-xhtml{background-position:-966px -210px} 
.fam-zoom-in{background-position:-987px -210px} 
.fam-zoom-out{background-position:-1008px -210px} 
.fam-zoom{background-position:-1029px -210px} 